body{
    font-family: 'Lato', 'Noto Sans KR', sans-serif;
    font-size: 16px;
}
a, a:link{
    text-decoration: none;
    color: inherit;
}
.blind{
    display: none;
}

/* header style start */

.header-top{
    border-bottom: 1px solid #d60c00;
    padding: 10px;
}
.top-wrap{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#tnb{
    display: flex;
    column-gap: 1rem;
    font-size: 13px;
    font-weight: 500;
    color: #888888;
}
#tnb > li:hover{
    color: #000000;
}
#bottom-nav{
    max-width: 900px;
    margin: 0 auto;
}
#bottom-nav > #bnb{
    display: flex;
    column-gap: 2rem;
    font-size: 16px;
    color: #000000;
    font-weight: 700;
    justify-content: center;
}
#bottom-nav > #bnb > li:hover{
    color: #d60c00;
}
#bottom-nav > #bnb > li{
    position: relative;
}
#bnb > li > a{
    display: block;
    padding: 20px 20px;
}
#bnb > li:hover .lnb{
    display: block;
}
.lnb{
    display: none;
    width: 100%;
    position: absolute;
    color: black;
    background-color: #d60c00;
    text-align: center;
    color: white;
}
.lnb > li > a{
    display: block;
    padding: 20px;
}
.lnb > li:hover{
    background-color: white;
    color: black;
}
#content-img{
    max-width: 900px;
    margin: 0 auto;
    height: 395px;
}
#nav-wrap{
    background-color: #d60c00;
    height: 160px;
}
#tab{
    display: flex;
    justify-content: center;
}
#product{
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 50px;
}
#product h1{
    margin: 40px 0;
    font-size: 22px;
    color: #d60c00;
    font-weight: 600;
    text-align: center;
}
#product > ul{
    display: flex;
    justify-content: space-around;
}
#product li{
    border-radius: 50%;
    overflow: hidden;
}
footer{
    border-top: 1px solid black;
    background-color: #f1f1f1;
}
#footer-nav{
    max-width: 900px;
    margin: 0 auto;
}
#footer-nav ul{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    color: #d60c00;
    font-size: 14px;
    padding: 20px;
}
#copyright{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
}
#copyright img{
    margin-bottom: 20px;
}
#coporight > p{
    font-size: 12px;
    color: #999999;
    font-weight: 700;
}


/* main > about > intro style */

.article-wrap{
    width: 900px;
    margin: 0 auto;
}
article h3{
    text-align: center;
    font-weight: bold;
    color: #d60c00;
    margin: 30px 0 15px 0;
    font-size: 25px;
}
article > hr{
    max-width: 20%;
    border: 0;
    border-bottom: 2px solid #d60c00;
}
.article-wrap{
    max-width: 900px;
    margin: 0 auto;
}
.article-wrap > p{
    margin: 30px 0;
    text-align: center;
    line-height: 1.6rem;
}
.mind{
    display: flex;
    height: 210px;
    overflow: hidden;
}
.mind-cols{
    display: flex;
    color: white;
    text-align: center;
}
.mind-img, .mind-left, .mind-right{
    width: 50%;
}
.mind-img{
    font-size: 0;
}
.mind-img img{
    max-width: 100%;
}
.mind-left{
    background: #d60c00;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mind-right{
    background: #ff726a;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mind-left hr{
    width: 80%;
    border: 0;
    height: 1px;
    background-color: white;
}
.mind-right hr{
    width: 80%;
    border: 0;
    border-top: 1px solid white;
}
.history{
    display: flex;
    margin: 30px 0;
}
.history ul{
    width: 50%;
}
.history ul li{
    display: flex;
    margin: 1rem 0;
}
.history ul li p:nth-child(1){
    margin-right: 1rem;
}
#slogan{
    border-bottom: 1px solid #ccc;
}
#slogan .text{
    background: url(https://cdn.pixabay.com/photo/2017/06/06/22/46/mediterranean-cuisine-2378758_960_720.jpg) 0 0 / cover no-repeat;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.text p{
    text-shadow: 0 0 10px #000;
}
.breadcrumb{
    max-width: 900px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: right;
    font-size: 12px;
    color: #888;
}
.breadcrumb a:hover{
    color: red;
}
.brand{
    display: flex;
    column-gap: 1rem;
    justify-content: center;
    text-align: center;
    margin: 30px 0;
}

/* main > about > business style */
.business{
    display: flex;
    column-gap: 1rem;
    justify-content: center;
}
article h4{
    font-size: 20px;
    color: #d60c00;
    margin: 30px 0;
}

/* main > about > map style */

#maphead{
    line-height: 2rem;
}
.map-img{
    margin: 30px 0;
    justify-content: center;
}
.wrap-contents{
    display: flex;
    margin-top: 30px;
}
.wrap-contents p{
    margin-top: 30px;
}
#logo{
    display: flex;
    width: 30%;
    justify-content: center;
}
#logo img{
    width: 200px;
    margin-top: 30px;
}
#map-view{
    width: 70%;
    margin-left: 40px;
}
#map-view ul li{
    float: left;
    margin: 0 10px;
}
#map-view p{
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
}
#map{
    margin: 40px 0;
}

/* process > index.html css start */

.step{
    border: 3px solid gray;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    margin: 50px auto 30px;
}
.step .title{
    color: #d60c00;
    text-transform: uppercase;
    font-weight: bold;
}
.title::after{
    content: "";
    display: block;
    width: 20px;
    height: 1px;
    background-color: #d60c00;
    margin: 10px auto 0;
}
.slick-prev:before, .slick-next:before {
    color: #d60c00; !important
}