body{
    font-family: 'Lato', 'Noto Sans KR', sans-serif;
    font-size: 16px;
}
a, a:link{
    text-decoration: none;
    color: inherit;
}
.blind{
    display: none;
}

/* header style start */

.header-top{
    border-bottom: 1px solid #d60c00;
    padding: 10px;
}
.top-wrap{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#tnb{
    display: flex;
    column-gap: 1rem;
    font-size: 13px;
    font-weight: 500;
    color: #888888;
}
#tnb > li:hover{
    color: #000000;
}
#bottom-nav{
    max-width: 900px;
    margin: 0 auto;
}
#bottom-nav > #bnb{
    display: flex;
    column-gap: 2rem;
    font-size: 16px;
    color: #000000;
    font-weight: 700;
    justify-content: center;
}
#bottom-nav > #bnb > li:hover{
    color: #d60c00;
}
#bottom-nav > #bnb > li{
    position: relative;
}
#bnb > li > a{
    display: block;
    padding: 20px 20px;
}
#bnb > li:hover .lnb{
    display: block;
}
.lnb{
    display: none;
    width: 100%;
    position: absolute;
    color: black;
    background-color: #d60c00;
    text-align: center;
    color: white;
}
.lnb > li > a{
    display: block;
    padding: 20px;
}
.lnb > li:hover{
    background-color: white;
    color: black;
}
#content-img{
    max-width: 900px;
    margin: 0 auto;
    height: 395px;
}
#nav-wrap{
    background-color: #d60c00;
    height: 160px;
}
#tab{
    display: flex;
    justify-content: center;
}
#product{
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 50px;
}
#product h1{
    margin: 40px 0;
    font-size: 22px;
    color: #d60c00;
    font-weight: 600;
    text-align: center;
}
#product > ul{
    display: flex;
    justify-content: space-around;
}
#product li{
    border-radius: 50%;
    overflow: hidden;
}
footer{
    border-top: 1px solid black;
    background-color: #f1f1f1;
}
#footer-nav{
    max-width: 900px;
    margin: 0 auto;
}
#footer-nav ul{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    color: #d60c00;
    font-size: 14px;
    padding: 20px;
}
#copyright{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
}
#copyright img{
    margin-bottom: 20px;
}
#coporight > p{
    font-size: 12px;
    color: #999999;
    font-weight: 700;
}


/* main > about > intro style */

.article-wrap{
    width: 900px;
    margin: 0 auto;
}
article h3{
    text-align: center;
    font-weight: bold;
    color: #d60c00;
    margin: 30px 0 15px 0;
    font-size: 25px;
}
article > hr{
    max-width: 20%;
    border: 0;
    border-bottom: 2px solid #d60c00;
}
.article-wrap{
    max-width: 900px;
    margin: 0 auto;
}
.article-wrap > p{
    margin: 30px 0;
    text-align: center;
    line-height: 1.6rem;
}
.mind{
    display: flex;
    height: 210px;
    overflow: hidden;
}
.mind-cols{
    display: flex;
    color: white;
    text-align: center;
}
.mind-img, .mind-left, .mind-right{
    width: 50%;
}
.mind-img{
    font-size: 0;
}
.mind-img img{
    max-width: 100%;
}
.mind-left{
    background: #d60c00;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mind-right{
    background: #ff726a;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mind-left hr{
    width: 80%;
    border: 0;
    height: 1px;
    background-color: white;
}
.mind-right hr{
    width: 80%;
    border: 0;
    border-top: 1px solid white;
}
.history{
    display: flex;
    margin: 30px 0;
}
.history ul{
    width: 50%;
}
.history ul li{
    display: flex;
    margin: 1rem 0;
}
.history ul li p:nth-child(1){
    margin-right: 1rem;
}
#slogan{
    border-bottom: 1px solid #ccc;
}
#slogan .text{
    background: url(https://cdn.pixabay.com/photo/2017/06/06/22/46/mediterranean-cuisine-2378758_960_720.jpg) 0 0 / cover no-repeat;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.text p{
    text-shadow: 0 0 10px #000;
}
.breadcrumb{
    max-width: 900px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: right;
    font-size: 12px;
    color: #888;
}
.breadcrumb a:hover{
    color: red;
}
.brand{
    display: flex;
    column-gap: 1rem;
    justify-content: center;
    text-align: center;
    margin: 30px 0;
}

/* main > about > business style */
.business{
    display: flex;
    column-gap: 1rem;
    justify-content: center;
}
article h4{
    font-size: 20px;
    color: #d60c00;
    margin: 30px 0;
}

/* main > about > map style */

#maphead{
    line-height: 2rem;
}
.map-img{
    margin: 30px 0;
    justify-content: center;
}
.wrap-contents{
    display: flex;
    margin-top: 30px;
}
.wrap-contents p{
    margin-top: 30px;
}
#logo{
    display: flex;
    width: 30%;
    justify-content: center;
}
#logo img{
    width: 200px;
    margin-top: 30px;
}
#map-view{
    width: 70%;
    margin-left: 40px;
}
#map-view ul li{
    float: left;
    margin: 0 10px;
}
#map-view p{
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
}
#map{
    margin: 40px 0;
}

/* process > index.html css start */

.step{
    border: 3px solid gray;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    margin: 50px auto 30px;
}
.step .title{
    color: #d60c00;
    text-transform: uppercase;
    font-weight: bold;
}
.title::after{
    content: "";
    display: block;
    width: 20px;
    height: 1px;
    background-color: #d60c00;
    margin: 10px auto 0;
}
.custom-prev:before, .custom-next:before {
    color: #d60c00; !important
}
/* custom-arrows style */
.custom-prev,
.custom-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;
    /* 버튼 크기 */
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.custom-prev:hover,
.custom-prev:focus,
.custom-next:hover,
.custom-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.custom-prev:hover:before,
.custom-prev:focus:before,
.custom-next:hover:before,
.custom-next:focus:before
{
    opacity: 1;
}
.custom-prev.slick-disabled:before,
.custom-next.slick-disabled:before
{
    opacity: .25;
}

.custom-prev:before,
.custom-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.custom-prev
{
    left: -25px;
}
[dir='rtl'] .custom-prev
{
    right: -25px;
    left: auto;
}
.custom-prev:before
{
    content: '';
    background: url('../images/prev-arrow.png');
    display: block;
    width: 20px;
    height: 20px;
}
[dir='rtl'] .custom-prev:before
{
    content: '';
    background: url('../images/prev-arrow.png');
    display: block;
    width: 20px;
    height: 20px;
}

.custom-next
{
    right: -25px;
}
[dir='rtl'] .custom-next
{
    right: auto;
    left: -25px;
}
.custom-next:before
{
    content: '';
    background: url('../images/next-arrow.png');
    display: block;
    width: 20px;
    height: 20px;
}
[dir='rtl'] .custom-next:before
{
    content: '';
    background: url('../images/next-arrow.png');
    display: block;
    width: 20px;
    height: 20px;
}
.img-container{
    justify-content: center;
    display: flex;
    margin: 30px 0;
}

/* member > signin.html css */
.form-wrap{
    width: 450px;
    margin: 0 auto;
    border: 1px solid #999;
    box-sizing: border-box;
    padding: 40px;
    margin-bottom: 40px;
}
.form-wrap > a{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.form-wrap > a > img{
    width: 150px;
}
.form-wrap > ul > li > input{
    width: 370px;
    height: 60px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding-left: 20px;
}
.form-wrap > ul > li:last-child input{
    background-color: #d60c00;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: 0;
    cursor: pointer;
}
.form-wrap p{
    text-align: center;
    margin: 40px 0;
    font-size: 14px;
}
#circle{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
#circle li{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid #999;
}
#circle li a::before{
    position: absolute;
}
#circle li:first-child a img{
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
}
#circle li:nth-child(2) a img{
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -24px;
    margin-top: -24px;
}
#circle li:last-child a img{
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -24px;
    margin-top: -24px;
}
#sign{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
#sign > li{
    padding: 0 12px;
    box-sizing: border-box;
}
#sign > li:nth-child(2){
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
}
#circle li:hover{
    width: 84px;
    height: 84px;
    box-shadow: 2px 2px 2px gray;
}
#sign > li:hover{
    color: #d60c00;
}

/* member > signup.html css start */

fieldset{
    width: 450px;
    margin: 40px auto;
    box-sizing: border-box;
    padding: 40px;
}
fieldset > a{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
fieldset img{
    width: 200px;
}
fieldset p{
    margin-bottom: 5px;
}
#checkId{
    color: red;
    margin-top: 5px;
    display: none;
}
fieldset > ul > li > label > input{
    width: 500px;
    height: 50px;
    font-size: 12px;
    box-sizing: border-box;
    padding-left: 10px;
    border: 1px solid #d60c00;

}
fieldset > ul > li{
    margin-bottom: 30px;
    justify-content: center;
}
#userBirth{
    width: 150px;
}
#userBirth:last-child{
    float: right;
}
fieldset > ul > li:nth-child(5) > label > select{
    width: 150px;
    height: 50px;
    margin-left: 22px;
    border: 1px solid #d60c00;
    position: relative;
    top: 1px;
}
fieldset > ul > li:nth-child(7) > label > input{
    width: 325px;
}
fieldset > ul > li:nth-child(7) > input{
    width: 150px;
    height: 50px;
    background-color: #d60c00;
    color: white;
    border: 0;
    float: right;
    font-size: 15px;
}
fieldset > ul > li:last-child > label > input{
    width: 500px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    background-color: #d60c00;
    color: white;
    border: 0;
}